
{% macro adduser(accesslevels, regions) %}
   <form class="form-horizontal" method="get">
      <div class="form-group">
         <label class="control-label col-sm-2" for="firstname">First Name:</label>
         <div class="col-sm-10">
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
         </div>
      </div>
      <div class="form-group">
         <label class="control-label col-sm-2" for="lastname">Last Name:</label>
         <div class="col-sm-10">
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
         </div>
      </div>
      <div class="form-group">
         <label class="control-label col-sm-2" for="email">Email:</label>
         <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
         </div>
      </div>
      <div class="form-group">
         <label class="control-label col-sm-2" for="accesslevel">Access Level:</label>
         <div class="col-sm-10">
            {% for key,value in accesslevels %}
               <div class="radio">
                  <label><input type="radio" value='{{ key }}' id='{{ value }}' name="accesslevel" required>{{ value }}</label>
               </div>
            {% endfor %}
         </div>
      </div>
      <div class="form-group">
         <label class="control-label col-sm-2" for="region">Region:</label>
         <div class="col-sm-10">
            {% for region in regions %}
               <div class="radio">
                  <label><input type="radio" value='{{ region.region_ID }}' id='{{ region.city }}' name="region" required>{{ region.city }} {{ region.region_name }}</label>
               </div>
            {% endfor %}
         </div>
      </div>
      <div class="form-group">
         <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Add User" name="adduser" class="btn btn-default"></input>
         </div>
      </div>
   </form>
{% endmacro adduser %}

{% macro userlogin() %}
   <form method="post">
      <div class="form-group">
         <label for="email">Email address:</label>
         <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="form-group">
         <label for="password">Password:</label>
         <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <input type="hidden" value="userlogin" name="userlogin"></input>
      {% if forgot == true %}
         <input type="hidden" value={{ resetkey }} name="resetkey"></input>
      {% endif %}
      <button type="submit" class="btn btn-default">Submit</button>
   </form>
{% endmacro userlogin %}



{% macro forgotpassword() %}
   <form method="post">
      <div class="form-group">
         <label for="email">Email address:</label>
         <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <input type="hidden" value="forgotpassword" name="forgotpassword"></input>
      <button type="submit" class="btn btn-default">Submit</button>
   </form>

{% endmacro forgotpassword %}

{% macro useractivation(key) %}
   <form method="post">
      <div class="form-group">
         <label for="email">Email address:</label>
         <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="form-group">
         <label for="password">Password:</label>
         <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <input type="hidden" value={{ key }} name="useractkey"></input>
      <input type="hidden" value="useractivation" name="useractivation"></input>
      <button type="submit" class="btn btn-default">Submit</button>
   </form>
{% endmacro useractivation %}

{% macro resetpassword(email, password, hideemailpassword, fromactivation, fromforgot, resetkey) %}
   <form method="post">

      {% if hideemailpassword == true %}
         <input type="hidden" value={{ email }} class="form-control" id="email" name="email" ></input>
         <input type="hidden" value={{ password }} class="form-control" id="password" name="password">
         {% if fromactivation == true %}
            <input type="hidden" value={{ fromactivation }} class="form-control" id="fromactivation" name="fromactivation">
         {% elseif fromforgot == true %}
            <input type="hidden" value={{ fromforgot }} class="form-control" id="fromforgot" name="fromforgot">
            <input type="hidden" value={{ resetkey }} class="form-control" id="resetkey" name="resetkey">
         {% endif %}
      {% else  %}
         <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" name="email" required></input>
         </div>
         <div class="form-group">
            <label for="password">Current Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
         </div>
      {% endif %}

      <div class="form-group">
         <label for="password">New Password:</label>
         <input type="password" class="form-control" id="newpassword" name="newpassword" required>
      </div>
      <div class="form-group">
         <label for="password">Verify New Password:</label>
         <input type="password" class="form-control" id="verifynewpassword" name="verifynewpassword" required>
      </div>
      <input type="hidden" value="resetpassword" name="resetpassword"></input>
      <button type="submit" class="btn btn-default">Submit</button>
   </form>
{% endmacro resetpassword %}


{% macro managemyaccount(firstname, lastname) %}
   <form method="post">
      <div class="form-group">
         <label for="firstname">First Name:</label>
         <input type="firstname" class="form-control" id="firstname" name="firstname" placeholder={{ firstname }}>
      </div>
      <div class="form-group">
         <label for="lastname">Last Name:</label>
         <input type="lastname" class="form-control" id="lastname" name="lastname" placeholder={{ lastname }}>
      </div>
      <input type="hidden" value="updateaccount" name="updateaccount"></input>
      <button type="submit" class="btn btn-default">Submit</button>
   </form>
{% endmacro managemyaccount %}

{% macro uploadsignature() %}

   <form method="post" enctype="multipart/form-data">
      <input type="hidden" name="MAX_FILE_SIZE" value="1000000"/>
      <div class="form-group">
         <label for="signature">Signature Image:</label>
         <input class="form-control" id="signature" type="file" name="signature"/>
      </div>
      <input type="hidden" value="uploadsignature" name="uploadsignature"></input>
      <button type="submit" class="btn btn-default">Submit</button>
   </form>

{% endmacro uploadsignature %}

{% macro giveaward(firstname, lastname, email, awardTypes) %}
<div class="container">
	<h2>Insert your information in the following:</h2>
	<form class="form-horizontal" method="post">		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="gFName">Your First Name</label>
			<div class="col-sm-10">
				<input class="form-control" id="gFName" type="text" name="gFName" placeholder={{ firstname }}>		
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="gLName">Your Last Name</label>
			<div class="col-sm-10">
				<input class="form-control" id="gLName" type="text" name="gLName" placeholder={{ lastname }}>		
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="email">Your Email</label>
			<div class="col-sm-10">
				<input class="form-control" id="email" type="email" name="email" placeholder={{ email }}>		
			</div>
		</div>	
		<div class="form-group">
			<label class="col-sm-2 control-label">Your Job Title</label>
			<div class="col-sm-10">
				<input class="form-control" id="title" type="text" name="title" placeholder="title">		
			</div>
		</div>	
      	<div class="form-group">
         	<label class="control-label col-sm-2" for="awardType">Award Type (select one):</label>
         	<div class="col-sm-10">
	         	<select class="form-control" id="awardType">
	            {% for award in awardTypes %}
					<option value={{'award.award_class/name'}} name="awardType" required> {{ award.award_class/name }}</option>
	            {% endfor %}
	         	</select>
	        </div>
      	</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Award Date</label>
			<div class="col-sm-10">
				<input class="form-control" id="date" type="date" name="date" placeholder="MM/DD/YYYY">		
			</div>
		</div>	
	<h2>Insert award recipient's information in the following:</h2>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="rFName">Recipient's First Name</label>
			<div class="col-sm-10">
				<input class="form-control" id="rFName" type="text" name="rFName" placeholder="first name">		
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="rLName">Recipient's Last Name</label>
			<div class="col-sm-10">
				<input class="form-control" id="rLName" type="text" name="rLName" placeholder="last name">		
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="remail">Recipient's Email</label>
			<div class="col-sm-10">
				<input class="form-control" id="remail" type="email" name="remail" placeholder="email">		
			</div>
		</div>
		<div class="form-group">
        	<div class="col-sm-offset-2 col-sm-10">
            	<input type="submit" value="Submit Award" name="giveaward" class="btn btn-default"></input>
         	</div>
      	</div>						
	</form>
</div>	
{% endmacro giveaward %}

{% macro getreport(reporttypes, regions, names) %}
	<form class="form-horizontal" method="post">
	 	<div class="form-group">
			<label for="typeofreport">Report Type:</label>
		</div>
		<div class = "dropdown">
			<button type = "button" class = "btn dropdown-toggle" id = "dropdownMenu1" data-toggle = "dropdown">Reports
				<span class = "caret"></span>
			</button>
				<ul class = "dropdown-menu" role = "menu" aria-labelledby = "dropdownMenu1">
					{% for reporttype in reporttypes %}
						<li role = "presentation">
							<a role = "menuitem" tabindex = "-1" href = "#"> {{'reports.report_type'}}</a>
						</li>
					{% endfor %}
				</ul>
		</div>
		<div class="form-group">
			<label for="reportparameter">Report Parameter</label>
			<input type="text" class="form-control" id="reportparameter" name="reportparameter" placeholder="Region, User, Month, Year, etc">
		</div>
		<br />
		<div class="form-group">
			<button type = "submit" value="getreport" name="getreport" class = "btn btn-default">Get Report</button>
		</div>
	</form>
{% endmacro getreport %}
