
{% macro adduser(accesslevels, regions) %}
   <form class="form-horizontal" method="get">
      <div class="form-group">
         <label class="control-label col-sm-2" for="firstname">First Name:</label>
         <div class="col-sm-10">
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
         </div>
      </div>
      <div class="form-group">
         <label class="control-label col-sm-2" for="lastname">Last Name:</label>
         <div class="col-sm-10">
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
         </div>
      </div>
      <div class="form-group">
         <label class="control-label col-sm-2" for="email">Email:</label>
         <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
         </div>
      </div>
      <div class="form-group">
         <label class="control-label col-sm-2" for="accesslevel">Access Level:</label>
         <div class="col-sm-10">
            {% for key,value in accesslevels %}
               <div class="radio">
                  <label><input type="radio" value='{{ key }}' id='{{ value }}' name="accesslevel" required>{{ value }}</label>
               </div>
            {% endfor %}
         </div>
      </div>
      <div class="form-group">
         <label class="control-label col-sm-2" for="accesslevel">Region:</label>
         <div class="col-sm-10">
            {% for region in regions %}
               <div class="radio">
                  <label><input type="radio" value='{{ region.region_ID }}' id='{{ region.city }}' name="region" required>{{ region.city }} {{ region.region_name }}</label>
               </div>
            {% endfor %}
         </div>
      </div>
      <div class="form-group">
         <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Add User" name="adduser" class="btn btn-default"></input>
         </div>
      </div>
   </form>
{% endmacro adduser %}

{% macro userlogin() %}
   <form method="post">
      <div class="form-group">
         <label for="email">Email address:</label>
         <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="form-group">
         <label for="password">Password:</label>
         <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <input type="hidden" value="userlogin" name="userlogin"></input>
      {% if forgot == true %}
         <input type="hidden" value={{ resetkey }} name="resetkey"></input>
      {% endif %}
      <button type="submit" class="btn btn-default">Submit</button>
   </form>
{% endmacro userlogin %}



{% macro forgotpassword() %}
   <form method="post">
      <div class="form-group">
         <label for="email">Email address:</label>
         <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <input type="hidden" value="forgotpassword" name="forgotpassword"></input>
      <button type="submit" class="btn btn-default">Submit</button>
   </form>

{% endmacro forgotpassword %}

{% macro useractivation(key) %}
   <form method="post">
      <div class="form-group">
         <label for="email">Email address:</label>
         <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="form-group">
         <label for="password">Password:</label>
         <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <input type="hidden" value={{ key }} name="useractkey"></input>
      <input type="hidden" value="useractivation" name="useractivation"></input>
      <button type="submit" class="btn btn-default">Submit</button>
   </form>
{% endmacro useractivation %}

{% macro resetpassword(email, password, hideemailpassword, fromactivation, fromforgot, resetkey) %}
   <form method="post">

      {% if hideemailpassword == true %}
         <input type="hidden" value={{ email }} class="form-control" id="email" name="email" ></input>
         <input type="hidden" value={{ password }} class="form-control" id="password" name="password">
         {% if fromactivation == true %}
            <input type="hidden" value={{ fromactivation }} class="form-control" id="fromactivation" name="fromactivation">
         {% elseif fromforgot == true %}
            <input type="hidden" value={{ fromforgot }} class="form-control" id="fromforgot" name="fromforgot">
            <input type="hidden" value={{ resetkey }} class="form-control" id="resetkey" name="resetkey">
         {% endif %}
      {% else  %}
         <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" name="email" required></input>
         </div>
         <div class="form-group">
            <label for="password">Current Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
         </div>
      {% endif %}

      <div class="form-group">
         <label for="password">New Password:</label>
         <input type="password" class="form-control" id="newpassword" name="newpassword" required>
      </div>
      <div class="form-group">
         <label for="password">Verify New Password:</label>
         <input type="password" class="form-control" id="verifynewpassword" name="verifynewpassword" required>
      </div>
      <input type="hidden" value="resetpassword" name="resetpassword"></input>
      <button type="submit" class="btn btn-default">Submit</button>
   </form>
{% endmacro resetpassword %}

{& macro giveaward %}
	<form id="giveawawrd" method="post" action="giveaward.php">
		<fieldset>    
			<label>Insert your information in the following:</label><br>
			
			<label for="fullname">Your Full Name</label>
			<input type="text" name="fullname"><br>
		
			<label for="email">Your E-mail</label>
			<input type="email" name="a-email"><br>
		
			<label for="title">Your Job Title</label>
			<input type="text" name="title"><br>
		
			<label for="award-type">Title of Award</label>
			<input type="text" name="award-type"><br><br>

			<label for="date">Date Awarded</label>
			<input type="text" name="date"><br><br>
					
<!-- 			<label for="signature">Signature File</label> -->
<!-- 			<input type="text" name="signature" value="signature.png"><br> -->
	
<!-- 			<label for="signature">Upload Your Signature</label> -->
<!-- 			<input type="button" name="signature"> -->
				
			<label>Insert recipient's information in the following:</label><br>
	
			<label for="rname">Recipient's Full Name</label>
			<input type="text" name="rname"><br>
	
			<label for="remail">Recipient's E-mail</label>
			<input type="email" name="remail">
	
			<input type="submit" name="submit" id="submit" value="Send Certificate" />
	
		</fieldset>
	</form>
	
{% endmacro giveaward %}