<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            {% block stylesheet %}
            
               <link rel="stylesheet" href="style.css" />
               <link rel="stylesheet" href="Resources/public/css/bootstrap.min.css" />
            {% endblock %}

            {% block javascript %}
               <script src="Resources/public/js/jquery.js"></script>
               <script src="Resources/public/js/main.js"></script>
            {% endblock %}
        
            <title>{% block title %}Base Page{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2016 by <a href="http://domain.invalid/">you</a>.
            {% endblock %}
        </div>
    </body>
</html>
