{% extends "base.html" %}

{% import "macros/forms.html" as forms %}

{% block title %}Login{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
<!--    <script src="Resources/public/js/login.js"></script>   -->
{% endblock %}

{% block content %}
   <h1>Login Page</h1>

   {{ forms.userlogin() }}
   
   <!--
   {% for user in users %}
      <ul>
         {% for key,value in user %}
         <li>{{ key }} : {{ value }}</li>
         
         
         {% endfor %}
      </ul>
   {% endfor %}
   -->
   
{% endblock %}