{% extends "base.html" %}

{% import "macros/forms.html" as forms %}

{% block title %}Manage My Account{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
<!--    <script src="Resources/public/js/managemyaccount.js"></script>   -->
{% endblock %}

{% block content %}
   <div>
      <h2>Update your first name and/or last name</h2>
   </div>
   <br />
   <div>
      {{ forms.managemyaccount(firstname, lastname) }}
   </div>
   <br />
   <div>
      <h2>Upload Signature for Certificates</h2>
   </div>
   <div>
      {{ forms.uploadsignature() }}
   </div>
   
<img src="Resources/public/images/signatures/kurakuls+lastnamebugfix@oregonstate.edu.png" alt="Smiley face">


{% endblock %}